doctype html
html
  head
    title= title
    meta(http-equiv='refresh', content=#{time})
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      h1= title
      p Welcome to #{title}
      div
        iframe(width='640', height='360', src=response, frameborder='0', allowfullscreen='allowfullscreen')

