extends layout

block content
  #youtube.returnList
    each val, index in ytresponse
      div.song
        div.song_text 
          p #{val.vtitle}
          form(method='post', class='song_text')
            input(type='image', src=val.thumb, class='pict', , alt="Submit")
            input(type='hidden', value=val.link, name='link')
            input(type='hidden', value=val.vtitle, name='title')
            input(type='hidden', value=val.type, name='type')
            input(type='hidden', value=val.time.seconds, name='time')

          

  #soundcloud.returnList
    each val, index in scresponse
      div.song
        p #{val.sctracktitle}
        form(method='post')
          -if(val.sctrackart == null)
            input(type='image', src='http://i.imgur.com/e6CmfVl.png', class='pict', alt="Submit")
          input(type='image', src=val.sctrackart, class='pict', alt="Submit")
          input(type='hidden', value=val.sctrackid, name='link')
          input(type='hidden', value=val.sctracktitle, name='title')
          input(type='hidden', value='Soundcloud', name='type')
          input(type='hidden', value=val.scduration, name='time')




