extends layout

block content
  p #{split}
  h1= title
  p Welcome to #{title}
  p the searched term was: #{query}
  //p data returned: #{response}
  #youtube.returnList
    each val, index in ytresponse
      div.song
        div.song_text 
          p Title: #{val.vtitle}
          img(src=val.thumb, class='pict')
          form(method='post', class='song_text')
            input(type='hidden', value=val.link, name='link')
            input(type='hidden', value=val.vtitle, name='title')
            input(type='hidden', value=val.type, name='type')
            input(type='hidden', value=val.time, name='time')
            input(type='submit', value='This One')

          

  #soundcloud.returnList
    each val, index in scresponse
      div.song
        p Title: #{val.sctracktitle}
        img(src=val.sctrackart, class='pict')

        form(method='post')
          input(type='hidden', value=val.sctrackid, name='link')
          input(type='hidden', value=val.sctracktitle, name='title')
          input(type='hidden', value='Soundcloud', name='type')
          input(type='hidden', value=val.scduration, name='time')
          input(type='submit', value='This One')


